body {
    margin: 0;
    padding: 0;
    font-family: 'Francois One';
    background-color: green;
    background: url("../Resources/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-weight: 600;
    font-size: 50px;
    color: #fff;
}

h4 {
    font-weight: 300;
    color: #fff;
    font-size: 20px;
}

p {
    font-family: 'Courgette';
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.orange {
    color: #ffa41b;
}

.err {
    color: red;
    font-family: 'Francois One';
    font-size: 25px;
}

/*-------------------------------------*/
/*Navbar*/
/*-------------------------------------*/

nav {
    background-color: #333;
    margin: 0;
    color: #fff;
    padding: 20px 10px;
}

.logo-size {
    width: 70px;
    height: 45px;

}

/*-------------------------------------*/
/*Section*/
/*-------------------------------------*/

section {
    text-align: center;
}

/*-------------------------------------*/
/*Form stuff*/
/*-------------------------------------*/

.inp {
    height: 40px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 300;
    border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image-slice: 1;
    border-width: 4px;
    font-family: 'Francois One';
}

.pad {
    padding-left: 115px;
    padding-right: 115px;
    text-align: center;
}


.btn {
    height: 55px;
    width: 450px;
    background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image-slice: 1;
    border-width: 4px;
    font-size: 25px;
    font-family: 'Courgette';
    color: #fff;
    font-weight: 800;
}

.btn:hover {
    border-image: linear-gradient(to left, #feb377 0%, #feb377 100%);
    background-image: linear-gradient(to left, #feb377 0%, #feb377 100%);
    border-image-slice: 1;
    border-width: 4px;
    cursor: pointer;
}



/*---------MEDIA--------------*/


/*MOBILE*/
@media only screen and (min-width: 300px) and (max-width: 450px) {
    nav {
        height: 50px;
    }

    .logo-size {
        height: 45px;
        width: 70px;
        text-align: left;
        padding-left: 20px;
        padding-top: 5px;
    }

    h1 {
        font-size: 50px;
    }

    h4 {
        font-size: 17px;
    }


    .pad {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;

    }

    .inp {
        height: 40px;
        width: 260px;
        font-size: 15px;
    }

    .btn {
        height: 45px;
        width: 310px;
        font-size: 20px;
    }


}

/*Tables/Ipads*/
@media only screen and (min-width: 766px) and (max-width: 1367px) {
    nav {
        height: 100px;
    }

    .logo-size {
        height: 75px;
        width: 110px;
        text-align: left;
        padding-left: 20px;
        padding-top: 15px;
    }

    h1 {
        font-size: 75px;
        padding-left: 20px;
    }


    .pad {
        font-size: 30px;
        padding-left: 50px;
        padding-right: 50px;

    }

    .inp {
        height: 70px;
        width: 500px;
        font-size: 30px;
    }

    .btn {
        height: 75px;
        width: 550px;
        font-size: 35px;
    }

    h4 {
        font-size: 25px;
    }



}

/*FULL HD land*/
@media only screen and (min-width: 1700px) {
    nav {
        padding: 10px 5px;
        height: 80px;
    }

    .logo-size {
        height: 70px;
        width: 100px;
        text-align: left;
        padding-left: 20px;
        padding-top: 10px;
    }

    h1 {
        font-size: 60px;
/*        padding-left: 20px;*/
    }


    .pad {
        font-size: 30px;
        padding-left: 50px;
        padding-right: 50px;

    }

    .inp {
        height: 55px;
        width: 550px;

    }

    .btn {
        height: 75px;
        width: 600px;
    }

    h4 {
        font-size: 30px;
    }




}

/*FULL HD 2*/
@media only screen and (min-width: 1000px) and (min-height: 1300px) {
    nav {
        height: 150px;
    }

    .logo-size {
        height: 95px;
        width: 140px;
        text-align: left;
        padding-left: 20px;
        padding-top: 35px;
    }

    h1 {
        font-size: 70px;
        padding-left: 20px;
    }


    .pad {
        font-size: 50px;
        padding-left: 50px;
        padding-right: 50px;

    }

    .inp {
        height: 100px;
        width: 800px;
        font-size: 40px;
    }

    .btn {
        height: 110px;
        width: 845px;
        font-size: 45px;
    }

    h4 {
        font-size: 35px;
    }



}

/*4K*/
@media only screen and (min-width: 1999px) and (min-height: 2000px) {

    ::-webkit-input-placeholder {
        font-size: 40pt;
    }


    nav {
        height: 200px;
    }

    .logo-size {
        height: 100px;
        width: 150px;
        text-align: left;
        padding-left: 20px;
        padding-top: 45px;
    }

    h1 {
        font-size: 180px;
        padding-left: 20px;
    }


    .pad {
        font-size: 70px;
        padding-left: 50px;
        padding-right: 50px;

    }

    .inp {
        height: 100px;
        width: 1500px;
    }

    .btn {
        font-size: 60px;
        height: 100px;
        width: 1550px;
    }

    h4 {
        font-size: 70px;
    }

}

/*4K reverse*/
@media only screen and (min-width: 1999px) and (min-height: 2500px) {

    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 50pt;
    }

    nav {
        height: 250px;
    }

    .logo-size {
        height: 130px;
        width: 190px;
        text-align: left;
        padding-left: 20px;
        padding-top: 55px;
    }

    h1 {
        font-size: 200px;
        padding-left: 20px;
    }


    .pad {
        font-size: 90px;
        padding-left: 50px;
        padding-right: 50px;

    }

    .inp {
        height: 140px;
        width: 1700px;
    }

    .btn {
        font-size: 80px;
        height: 150px;
        width: 1750px;
    }

    h4 {
        font-size: 90px;
    }
}
