/*
-------------------------------
FONTS :

font-family: 'Francois One' ;
font-family: 'Courgette' ;
-------------------------------
COLORS :

#fff; (alb)
#ffa41b , #df7861 (portocaliu 1, portocaliu 2)
#333 (gri inchis)
-------------------------------
*/

/*-------------------------------------*/
/*General stuff*/
/*-------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: 'Francois One';

}

body {
    background-color: #333;
    background-image: url("../Resources/back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
span{
    color: white;
}

/*-------------------------------------*/
/*Navbar*/
/*-------------------------------------*/
.navbar {
    background-color: #333;
    padding: 20px 10px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;

}

.navbar img {
    width: 70px;
    height: 45px;
}

.navbar a:hover {
    border-bottom: 2px solid #ffa41b;

}

.navbar a.active {
    background-color: #ffa41b;
    color: white;
}

.navbar-right {
    float: right;
}

/*-------------------------------------*/
/*Main*/
/*-------------------------------------*/

main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.user-name{
    font-family: 'Francois One';
}
span.pic-name{
    font-family: 'Francois One';
}
div.user-name{
    display: none;
}
form.user-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}
input.user-btn {
    height: 60px;
    width: 200px;
    background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image-slice: 1;
    border-width: 4px;
    font-family: 'Courgette';
    color: #fff;
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 1em;
}

input.user-btn:focus{
    border-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
    background-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
    border-image-slice: 1;
    border-width: 4px;
}
input.user-btn:hover {
    cursor: pointer;
    border-image: linear-gradient(to left, #feb377 0%, #feb377 100%);
    background-image: linear-gradient(to left, #feb377 0%, #feb377 100%);
    border-image-slice: 1;
    border-width: 4px;
}

/*-------------------------------------*/
/*Responsive Web Design*/
/*-------------------------------------*/

/*MOBILE*/

@media screen and (min-width: 300px) and (max-width: 765px) {
    input.user-btn {
        height: 45px;
        width: 165px;
        background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image-slice: 1;
        border-width: 4px;
        font-family: 'Courgette';
        color: #fff;
        font-weight: 200;
        font-size: 20px;
        margin-bottom: 1em;
    }

    div.user-pic{
        max-width: 70%;
        margin-top: 10%;
        margin-bottom: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid white;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgba(179, 179, 204, 0.7);
    }
    
    span.pic-name{
        min-width: 50%;
        margin-top: 0.8rem;
        font-size: 5vw;
        margin-bottom: 0.8rem;
        color: white;
        text-shadow: 1px 1px black;
        text-decoration: underline white;
        text-align: center;
    }
    div.user-info{
        max-width: 80%;
        font-family: 'Francois One';
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    div.user-info-specific{
        min-width: 76%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    span.info-category{
        display: block;
        min-width: 50%;
        font-size: 5.3vw;
        color: gray;
        text-align: end;
        text-shadow: 1px 1px black;
    }
    span.info{
        max-width: 50%;
        font-family: 'Courgette';
        color: white;
        text-shadow: 1px 1px black;
        margin-left: 1rem;
        font-size: 5.3vw;
    }
    div.user-score{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    div.score-category{
        width: 50%;
        display: flex;
        flex-wrap: nowrap;

    }
    span.category{
        margin-left: 20%;
        display: block;
        width: 50%;
        font-size: 5.3vw;
        font-family: 'Francois One';
        color: gray;
        text-align: start;
        text-shadow: 1px 1px black;
    }
    span.score{
        margin-left: 0.5rem;
        width: auto;
        font-family: 'Courgette';
        color: white;
        text-shadow: 1px 1px black;
        margin-left: 0.5rem;
        font-size: 5.3vw;
    }
    div.user-pic{
        max-width: 50%;
    }
    img.pic{
        display: block;
        max-width: 400px;
        width: 100%;
        height: auto;
        border-bottom: 500px white;
    }

    .navbar a {
        float: left;
        color: white;
        text-align: center;
        padding: 12px;
        padding-right: 5px;
        padding-left: 5px;
        text-decoration: none;
        font-size: 13px;
        line-height: 25px;
    }

    form.user-btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 1.3rem; 
    }

}


/*Tablets/Ipads*/

@media only screen and (min-width: 766px) {
    span.pic-name{
        display: none;
    }
    div.user-name{
        display: block;
    }
    main{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap; 
    }
    div.user-pic{
        margin-top: 5%;
        max-width: 50%;
        margin-left: 20%;
    }
    img.pic{
        display: block;
        max-width: 300px;
        height: auto;
        border-bottom: 500px white;
        border: 1px solid white;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    div.user-info{
        display: flex;
        margin-left: 3%;
        max-width: 40%;
        margin-top: 50px;
        justify-content: flex-start;
        flex-wrap: wrap;

        /*padding-bottom: 15%;*/
    }
    div.user-name{
        font-family: 'Courgette';
        text-shadow: 1px 1px black;
        display: flex;
        align-items: center;
    }
    span.name{
        font-size: 3.5vw;
        text-shadow: 1px 1px black;
        text-decoration: underline white;
        text-align: center;
        margin-bottom: 1rem;
    }
    div.user-info-specific{
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100%;
    }
    span.info-category, .info{
        display: block;
        min-width: auto;
    }
    span.info-category{
        display: block;
        min-width: 45%;
        font-size: 2vw;
        color: gray;
        text-align: start;
        text-shadow: 1px 1px back;
    }
    span.info{
        margin-left: 0.5rem;
        max-width: 50%;
        font-family: 'Courgette';
        color: white;
        text-shadow: 1px 1px black;
        margin-left: 0.5rem;
        font-size: 2vw;
    }div.user-score{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 0.5rem;

    }
    div.score-category{
        width: 50%;
        display: flex;
        flex-wrap: nowrap;
    }
    span.category{
        display: block;
        width: 50%;
        font-size: 2vw;
        font-family: 'Francois One';
        color: gray;
        text-align: start;
        text-shadow: 1px 1px black;
    }
    span.score{
        margin-left: 0.5rem;
        width: auto;
        font-family: 'Courgette';
        color: white;
        text-shadow: 1px 1px black;
        margin-left: 0.5rem;
        font-size: 2.5vw;
    }

}



/*FULL HD land*/
@media only screen and (min-width: 1700px){
    span.pic-name{
        display: none;
    }
    div.user-name{
        display: block;
    }
    main{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap; 
    }
    div.user-pic{
        margin-top: 5%;
        max-width: 50%;
        margin-left: 10%;
    }
    img.pic{
        display: block;
        max-width: 500px;
        height: auto;
        border-bottom: 500px white;
        border: 1px solid white;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    div.user-info{
        display: flex;
        margin-left: 3%;
        max-width: 40%;
        margin-top: 5%;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 2%;
        /*padding-bottom: 15%;*/
    }
    div.user-name{
        text-shadow: 1px 1px black;
        display: flex;
        align-items: center;
    }
    span.name{
        font-size: 4vw;
        text-shadow: 1px 1px black;
        text-decoration: underline white;
        text-align: center;
        margin-bottom: 2rem;
    }
    div.user-info-specific{
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100%;
    }
    span.info-category, .info{
        display: block;
        min-width: auto;
        font-size: 1.2rem;
    }
    span.info-category{
        display: block;
        min-width: 45%;
        font-size: 2vw;
        color: gray;
        text-align: start;
        text-shadow: 1px 1px back;
    }
    span.info{
        margin-left: 0.5rem;
        max-width: 50%;
        font-family: 'Courgette';
        color: white;
        text-shadow: 1px 1px black;
        margin-left: 0.5rem;
        font-size: 2vw;
    }
    div.user-score{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    div.score-category{
        width: 50%;
        display: flex;
        flex-wrap: nowrap;
    }
    span.category{
        display: block;
        width: 50%;
        font-size: 2.5vw;
        font-family: 'Francois One';
        color: gray;
        text-align: start;
        text-shadow: 1px 1px black;
    }
    span.score{
        margin-left: 0.5rem;
        width: auto;
        font-family: 'Courgette';
        color: white;
        text-shadow: 1px 1px black;
        margin-left: 0.5rem;
        font-size: 2.5vw;
    }
}