/*
-------------------------------
FONTS :

font-family: 'Francois One' ;
font-family: 'Courgette' ;
-------------------------------
COLORS :

#fff; (alb)
#ffa41b , #df7861 (portocaliu 1, portocaliu 2)
#333 (gri inchis)
-------------------------------
*/

/*-------------------------------------*/
/*General stuff*/
/*-------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Francois One';
    background-color: #333;
    background-image: url("../Resources/back.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-weight: 800;
    font-size: 4rem;
    color: #fff;
    font-family: 'Francois One' ;
}

p {
    font-family: 'Courgette';
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
}
h3{
    font-family: 'Courgette';
    font-size: 2rem;
}


/*-------------------------------------*/
/*Navbar*/
/*-------------------------------------*/
.navbar {
    background-color: #333;
    padding: 15px 5px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;

}

.navbar img {
    width: 70px;
    height: 45px;
}

.navbar a:hover {
    border-bottom: 2px solid #ffa41b;

}

.navbar-right {
    float: right;
}
.button
{
    margin: 0 auto;
    display: block;
    height: 30px;
    width: 100px;
    background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image-slice: 1;
    border-width: 4px;
    font-size: 18px;
    font-family: 'Courgette';
    color: #fff;
    font-weight: 800;
}

.button:hover {
    border-image: linear-gradient(to left, #feb377 0%, #feb377 100%);
    background-image: linear-gradient(to left, #feb377 0%, #feb377 100%);
    border-image-slice: 1;
    border-width: 4px;
}
/*-------------------------------------*/
/*Form stuff*/
/*-------------------------------------*/
form.form-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem;
}
div.form-delimiter{
    display: block;
    width: 100%;
    height: 0.2rem;
    background: #FFF;
    border-radius: 30px;
}
div.form-section{
    display: block;
    min-width: 100%;
    margin-left: 1rem;
}
input[type=radio]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 3px solid #ffa41b;
    border-image-slice: 1;
    border-width: 2px;
    background: #FFF;
    transition: 0.2s all linear;
}
input[type=radio]:hover{
    cursor: pointer;
    border: 3px double #df7861;
}
input[type=radio]:checked{
    border: 4px solid #df7861;
    background: #000;
}

div.form-submission{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}
input.form-btn:hover{
    cursor: pointer;
    border-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
    background-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
    border-image-slice: 1;
    border-width: 4px;
}
div.form-score{
    width: 100%;
    background-color: #333;
    margin: 0;
    padding: 0.4rem;
    padding-left: 1rem;
}
div.form-result{
    font-size: 2rem;
    padding-bottom: 0.2rem;
}
input.form-print{
    bottom: 0.3rem;
    width: 4rem;
    border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image-slice: 1;
    border-width: 3px; 
    font-family: 'Francois One';
    text-shadow: 1px 1px #FFF;
    font-weight: 200;
    font-size: 1.2rem; 
}

/*
.inp {
    height: 50px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 300;
    border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image-slice: 1;
    border-width: 4px;
    font-family: 'Francois One';
}

.pad {
    padding-left: 550px;
    padding-right: 550px;
}

.btn {
    height: 55px;
    width: 450px;
    background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image-slice: 1;
    border-width: 4px;
    font-size: 25px;
    font-family: 'Courgette';
    color: #fff;
    font-weight: 800;
}

.btn:hover {
    border-image: linear-gradient(to left, #feb377 0%, #feb377 100%);
    background-image: linear-gradient(to left, #feb377 0%, #feb377 100%);
    border-image-slice: 1;
    border-width: 4px;
}
*/

/*---------RESPONSIVE DESIGN--------------*/


/*MOBILE*/
@media screen and (min-width: 300px){
    .navbar a {
    font-size: 13px;
    }
    form.form-main{
        margin: 0;
    }
    div.form-delimiter{
        display: block;
        width: 100%;
        height: 0.1rem;
        background: #FFF;
        border-radius: 50%;
    }
    div.form-section{
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background: rgba(179, 179, 204, 0.15);
        border: 1px solid gray;
    }
    h3.form-question{
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;
    }
    blockquote{
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-around;
    }
    input.radio-btn{
        
    }
    span.radio-string{
        position: relative;
        bottom: 0.2rem;
        left: 0.8rem;
        font-size: 0.9rem;
        
    }
    input[type=radio]{
        transform: scale(1.3);
    }
    input.form-btn{
        margin-top: 2rem;
        background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image-slice: 1;
        border-width: 4px; 
        font-family: 'Francois One';
        text-shadow: 1px 1px #FFF;
        font-weight: 200;
        font-size: 1.2rem;
    }
    input.form-btn:hover{
        border-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        background-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        border-image-slice: 1;
        border-width: 4px;
    }
    a.bus-nav{
        margin-top: 2rem;
        background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image-slice: 1;
        border-width: 4px; 
        font-family: 'Francois One';
        text-shadow: 1px 1px #FFF;
        font-weight: 200;
        font-size: 1.2rem;
        text-decoration: none;
        color: black;
        margin-left: 1rem;
        -webkit-appearance: push-button;
        user-select: none;
        white-space: pre;
        align-items: flex-start;
        text-align: center;
        cursor: pointer;
        color: buttontext;
        background-color: buttonface;
        box-sizing: border-box;
        padding: 1px 6px;
        border-width: 4px;
        border-style: outset;
        border-color: buttonface;
    }
    a.bus-nav:hover{
        border-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        background-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        border-image-slice: 1;
        border-width: 4px;
        cursor: pointer;
    }
    #form-btn-submit{
        margin-right: 1rem;
    }
    #form-btn-reset{
        margin-left: 1rem;
        margin-right: 1rem;
    } 
    div.form-result{
        font-size: 1.5rem;
        padding: 0.6rem;
    }
    input.form-print{
        position: relative;
    }
}

/*Tablets/Ipads*/
@media only screen and (min-width: 766px) {
    form.form-main{
        margin: 0;
    }
    div.form-delimiter{1
        display: block;
        width: 100%;
        height: 0.1rem;
        background: #FFF;
        border-radius: 50%;
    }
    div.form-section{
        background: rgba(179, 179, 204, 0.15);
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border: 1px solid gray;
    }
    h3.form-question{
        font-size: 2rem;
        line-height: 2.7rem;
        text-align: center;
    }
    blockquote{
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-around;
    }
    input.radio-btn{
        
    }
    span.radio-string{
        position: relative;
        bottom: -0.1rem;
        left: 1rem;
        font-size: 2rem;
        
    }
    input[type=radio]{
        transform: scale(1.8);
    }
    input.form-btn{
        margin-top: 2rem;
        background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image-slice: 1;
        border-width: 4px; 
        font-family: 'Francois One';
        text-shadow: 1px 1px #FFF;
        font-weight: 200;
        font-size: 2rem;
    }
    input.form-btn:hover{
        border-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        background-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        border-image-slice: 1;
        border-width: 4px;
    }
    a.bus-nav{
        margin-top: 2rem;
        background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image-slice: 1;
        border-width: 4px; 
        font-family: 'Francois One';
        text-shadow: 1px 1px #FFF;
        font-weight: 200;
        font-size: 2rem;
        text-decoration: none;
        color: black;
        margin-left: 3rem;
        -webkit-appearance: push-button;
        user-select: none;
        white-space: pre;
        align-items: flex-start;
        text-align: center;
        cursor: pointer;
        color: buttontext;
        background-color: buttonface;
        box-sizing: border-box;
        padding: 1px 6px;
        border-width: 4px;
        border-style: outset;
        border-color: buttonface;
    }
    a.bus-nav:hover{
        border-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        background-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        border-image-slice: 1;
        border-width: 4px;
        cursor: pointer;
    }
    #form-btn-submit{
        margin-right: 3rem;
    }
    #form-btn-reset{
        margin-left: 3rem;
        margin-right: 3rem;
    } 
    div.form-score{
        display: flex;
    }
    div.form-result{
        min-width: 40%;
        font-size: 2rem;
        padding: 3rem;
    }
    input.form-print{
        position: relative;
        font-size: 2rem;
        width: 6rem;
    }
    
}

/*FULL HD land*/
@media only screen and (min-width: 1700px){
    .navbar img {
        height: 120px;
        width: 150px;
    }
    .navbar a {
        font-size: 43px;
        padding: 48px;
    }
    h1{
        font-size: 4.5rem;
    }
    form.form-main{
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    div.form-delimiter{
        display: none;
        /*width: 100%;
        height: 0.1rem;
        background: #FFF;
        border-radius: 50%;*/
    }
    div.form-section{
        background: rgba(179, 179, 204, 0.15);
        min-width: 60%;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border: 1px solid gray;
    }
    h3.form-question{
        font-size: 2.2rem;
        line-height: 3rem;
        text-align: center;
    }
    blockquote{
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-around;
    }
    input.radio-btn{
        
    }
    span.radio-string{
        position: relative;
        bottom: -0.1rem;
        left: 1rem;
        font-size: 2.2rem;
        
    }
    input[type=radio]{
        transform: scale(2);
    }
    div.form-submission{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    input.form-btn{
        background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image-slice: 1;
        border-width: 4px; 
        font-family: 'Francois One';
        text-shadow: 1px 1px #FFF;
        font-weight: 200;
        font-size: 2.5rem;
        padding: 0.3rem;
    }
    input.form-btn:hover{
        border-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        background-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        border-image-slice: 1;
        border-width: 4px;
    }
    a.bus-nav{
        background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
        border-image-slice: 1;
        border-width: 4px; 
        font-family: 'Francois One';
        text-shadow: 1px 1px #FFF;
        font-weight: 200;
        font-size: 2.5rem;
        padding: 0.3rem;
        margin-left: 5rem;
        -webkit-appearance: push-button;
        user-select: none;
        white-space: pre;
        align-items: flex-start;
        text-align: center;
        cursor: pointer;
        color: buttontext;
        background-color: buttonface;
        box-sizing: border-box;
        padding: 1px 6px;
        border-width: 4px;
        border-style: outset;
        border-color: buttonface;
    }
    a.bus-nav:hover{
        cursor: pointer;
        border-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        background-image: linear-gradient(to right, #feb377 0%, #feb377 100%);
        border-image-slice: 1;
        border-width: 4px;
    }
    #form-btn-submit{
        margin-right: 5rem;
    }
    #form-btn-reset{
        margin-left: 5rem;
        margin-right: 5rem;
    } 
    div.form-score{
        display: flex;
        justify-content: space-around;
    }
    div.form-result{
        margin: auto;
        min-width: 35%;
        padding: 1rem;
        font-size: 2.2rem;
    }
    input.form-print{
        position: relative;
        font-size: 2.2rem;
        width: 6rem;
    }
}
