/*-------------------------------------*/
/*General*/
/*-------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Francois One';
    background-color: #333;
    background: url(back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

h1 {
    color: #fff;
}

a {
    text-decoration: none;
}


/*-------------------------------------*/
/*Navbar*/
/*-------------------------------------*/

.navbar {
    background-color: #333;
    padding: 20px 10px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;

}

.navbar img {
    width: 70px;
    height: 45px;
}

.navbar a:hover {
    border-bottom: 2px solid #ffa41b;

}

.navbar a.active {
    background-color: #ffa41b;
    color: white;
}

.navbar-right {
    float: right;
}

/*-------------------------------------*/
/*Body*/
/*-------------------------------------*/

.flex-container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sep {
    display: flex;
}


.flex-container > div > ol > li {
    color: #ccc;
    margin-bottom: 20px;
}

.flex-container > div > h4 {
    padding-left: 20px;
    font-size: 30px;
    text-align: center;
    color: #Df7861;
}

.box {
    width: 200px;
    height: 350px;
    background-color: #ffa41b;
    text-align: center;
    border: 5px solid #ffa41b;
    margin-left: 10px;
    margin-right: 10px;
}

.box:hover {
    background-color: #de8600;

}

.inp1 {
    height: 40px;
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 300;



    font-family: 'Francois One';
}

.btn {
    height: 55px;
    width: 150px;


    font-size: 25px;
    font-family: 'Courgette';
    color: #333;
    font-weight: 800;
}

.btn:hover {
    background-color: #333;
    color: #fff;
    border: none;
}


/*---------MEDIA--------------*/



@media only screen and (min-width: 300px) and (max-width: 450px) {

    .sep {
        display: block;

    }

    .box {
        padding: 20px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 60%;
    }

    .flex-container {
        display: block;
        height: auto;

    }
}

@media only screen and (min-width: 850px) and (max-width: 1100px) {

    .flex-container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

@media only screen and (min-width: 850px) and (max-width: 1500px) {


    .sep {
        display: block;
        padding: 10px;

    }



    .box {
        margin: 20px;
    }

}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {

    .flex-container {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .box {
        height: 360px;
        width: 225px;
    }

}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {

    .navbar {
        padding: 25px 20px;

    }

    .navbar img {
        width: 90px;
        height: 60px;
    }

    .navbar a {
        padding: 20px;
        font-size: 25px;
    }

    .box {
        height: 400px;
        width: 225px;
    }



}

@media only screen and (min-width: 450px) and (max-width: 850px) {


    .sep {
        display: block;

    }

    .box {
        padding: 20px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 40%;
    }

    .flex-container {
        display: block;
        height: auto;

    }



}
